.background{
    background-color: #F0FFF0;
}
.logo{
    width: 198px;
    height: 59px;
}
.btn-link{
    border: none;
    background-color: #21B573;
    border-radius: 33px;
    height: 43px;
    width: 104px;
    color: white;
}
.row button{
    width: 153px;
}
.box-card img{
    width: 80px;
    height: 100px;
}
.box{
    margin-top: 50px;
}
h5{
    color: #FD511A;
}
.schedule{
    color: #21B573
}
.box-card{
    padding-top: 30px;
    border: none;
    border-radius: 10px;
    background-color: #F8FFFB;
    height: 270px;
}
.box-shadow{
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    background-color: white;
}
.learn{
    text-align: center;
}
.button{
    font-size: small;
}
.card-bottom img{
    height: 24px;
    width: 24px;
}
.card-bottom{
    margin-top: 50px;
}
h2{
    text-align: center;
}
.card-deck{
    margin-top: 50px;
}
.card-img-top{
    padding: 20px;
}
.long-card{
    border: none;
    border-radius: 18px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
}
.box-card2{
    margin-top: 100px;
}
.testimonial-text{
    padding-top: 70px;
    font-size: x-large;
}
.testimonial{
    margin-top: 50px;
}
ul{
    list-style: none;
}
.footer{
    text-align: center;
    margin-top: 20px;
    padding-bottom: 10px;
}
.last-part{
    background-color: #282531;
    color: white;
}
.footer-row{
    padding: 50px 60px;
}